# Python cache 
__pycache__/
*.py[cod]

# macOS system file
.DS_Store

# Python build
/dist/

# Virtual python environment
venv/
.venv/

# Direnv
.direnv/

# Pytest cache
.pytest_cache/

# Go binaries
backend/server
backend/cmd/server/server

# DATC HTML cache
scripts/DATC_v3_0.html
